NEED TO FIX THE CLASS IMPORTS IN ORDER TO GET IT RIGHT
<!-- <header class="header">
  <h1 class="logo">
    <a href="http://egekorkan.com/" class="logo-link">Ege Korkan</a>
  </h1>
  <nav class="main-menu">
    <ul>
      <li><a href="http://egekorkan.com/resume/">Resume</a></li>
      <li><a href="http://egekorkan.com/projects/">Projects</a></li>
      <li><a href="{{site.baseurl}}/publications/">Publications</a></li>
      <li><a href="http://egekorkan.com/blog/">Blog</a></li>
      <li><a href="http://egekorkan.com/contact/">Contact</a></li>
    </ul>
  </nav>
</header> -->